.imc__formulario input,
.imc__formulario button {
    margin: 5px;
    padding: 8px;
    font-size: 1rem;
}

.mensaje {
    font-weight: bold;
    margin-top: 15px;
    padding: 10px;
    border-radius: 5px;
    width: 300px;
}

.amarillo {
    background-color: #fff3cd;
    color: #856404;
}

.verde {
    background-color: #d4edda;
    color: #155724;
}

.naranja {
    background-color: #ffe5b4;
    color: #8a6d3b;
}

.rojo {
    background-color: #f8d7da;
    color: #721c24;
}