.calculadora input,
.calculadora select,
.calculadora button {
    margin: 5px 10px 15px 0;
    font-size: 1rem;
    padding: 8px;
}

.resultado {
    font-weight: bold;
    color: green;
    font-size: 20px;
}

.error {
    color: red;
    font-weight: bold;
    font-size: 20px;
}